#main_heading{
    background-color: cadetblue;
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: burlywood;
}
.main_pictures{
  
   
    background-color: rgb(230, 208, 15);
}
